{% load staticfiles %}

<html>

    <head>
        <link rel="stylesheet" type="text/css"
              href="{% static "scrumboard/css/scrumboard.css" %}">

    </head>

    <body ng-app="scrumboard.demo">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>


        {% verbatim %}
        <div ng-controller="ScrumboardController">
            <div class="list" ng-repeat="list in data">
                <h3> {{ list.name }} </h3>
                <ul>
                    <li ng-repeat="card in list.cards">
                        <scrumboard-card></scrumboard-card>
                    </li>
                </ul>
                <div class="flex">
                    <input type="text" ng-model="new_title" /> <div ng-show="$scope.error_message"> {{ placeholder }} </div>
                    <button ng-click="add(list, new_title)">+</button>
                </div>
            </div>
        </div>
        {% endverbatim %}

    </body>
    <script src="{% static "scrumboard/scrumboard.js" %}"></script>
    <script src="{% static "scrumboard/card.directive.js" %}"> </script>
</html>
